

/* @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700); */

body { background: #F5F5F5; }
form { max-width:720px; margin:50px auto; }

.feedback-input {
  color: var(--primary);
 /* font-family: Helvetica, Arial, sans-serif; */
  font-weight:500px;
  font-size: 18px;
  border-radius: var(--radius);
  line-height: 22px;
  background-color: transparent;
  border:2px solid var(--tertiary);
  transition: all 0.3s;
  padding: 10px 10px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.bold {
  font-weight: 700;
  
}

.feedback-input:focus { border-color: var(--secondary); }

textarea {
  height: 280px;
  line-height: 150%;
  resize:vertical;
}


[type="submit"] {
/*  font-family: 'Montserrat', Arial, Helvetica, sans-serif;*/
  width: 100%;
  background: #03989E;
  border-radius: var(--radius);
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:1px;
  font-weight:700;
}
[type="submit"]:hover { background:#03878b; }